#vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

env

.ipynb_checkpoints

#Drivers
drivers/*
!drivers/README.md

__pycache__